* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.singin {
    display: flex;
    flex-direction: row;
}

.img img {
    width: 450px;
    height: 592px;
}

#content {
    padding-left: 150px;
    padding-top: 50px;
}

#content h5 {
    font-size: 30px;
}

#google {
    padding-left: 100px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 550;
    margin-top: 30px;
    border: none;
}

#email {
    margin-left: 115px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
}

label {
    font-style: bold;
    font-size: 18px;
    font-weight: 700;
}

input {
    border: none;
    width: 500px;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#forget {
    margin-left: 300px;
}

#sign {
    height: 50px;
    width: 420px;
    background-color: rgb(2, 2, 21);
    color: white;
    border-radius: 25px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 50px;
}

#note {
    margin-left: 100px;
}

#sign:hover {
    background-color: rgb(105, 99, 99);
    transition: 1s ease-in-out;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#note a {
    color: black;
}

#google:hover,
#email:hover {
    color: rgb(105, 99, 99);
}